<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" />
    <!--
      <link rel="alternate" type="application/atom+xml" title="Paul Tarjan" href="atom.xml" /> 
    -->
    <link rel="alternate" type="application/atom+xml" title="Paul Tarjan" href="http://feeds.feedburner.com/paulisageek" /> 
    <script>
var host = "http://blog.paulisageek.com";
if (window.location.href.indexOf(host) !== 0 && 
    window.location.href.indexOf('http://localhost:') !== 0) {
  window.location.href = host + window.location.pathname;
}
    </script>

    {% if page.image %}
    <link rel="image_src" href="{{ page.image }}" />
    <meta property="og:image" content="{{ page.image }}" /> 
    {% endif %}
    <meta property="og:site_name" content="Paul Tarjan's Blog" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="123919717618370" />
    
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" /> 
    <meta property="og:description" content="{{ page.description }}" /> 
    {% endif %}
