<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" />
    <!--
      <link rel="alternate" type="application/atom+xml" title="Paul Tarjan" href="atom.xml" /> 
    -->
    <link rel="alternate" type="application/atom+xml" title="Paul Tarjan" href="http://feeds.feedburner.com/paulisageek" /> 
    <script>
var host = "http://blog.paulisageek.com";
if (window.location.href.indexOf(host) !== 0 && 
    window.location.href.indexOf('http://localhost:') !== 0) {
  window.location.href = host + window.location.pathname;
}
    </script>

    <meta property="og:image" content="http://paultarjan.com/paul.jpg" /> 
    <meta property="og:site_name" content="Paul Tarjan's Blog" />
    <meta preoprty="og:type" content="website" />
    <link rel="image_src" href="http://paultarjan.com/paul.jpg" />
