/* These are styles that are expected in the posts */
img.left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

img.right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.center {
  margin: auto;
  text-align: center;
}
