{% include header.html %}
  </head>

  <body>

    <div id="content">

      <div id="page-navigation"> 
        <div class="left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 
        </div> 

        <div class="right"> 
          {% if page.next.url %} 
                  <a href="{{page.next.url}}" title="Next Post: 
  {{page.next.title}}">{{page.next.title}} &raquo; </a> 
          {% endif %} 
        </div> 

        <div class="center">
          <a href="/">
            <span>
              From Paul Tarjan's Blog
            </span>
          </a>
        </div>

        <div style="clear:both"></div>
      </div> 

      <h1>{{ page.title }}</h1>
    
      {{ content }}
    
      <div>
        <em>Posted on {{ page.date | date_to_long_string }}</em> by <a href="http://paultarjan.com">Paul Tarjan</a>
      </div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  // var disqus_identifier = '{{ page.id }}';
  if (window.location.href.indexOf('http://localhost:') === 0)
    var disqus_developer = true;

  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://paulisageek.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=paulisageek">comments powered by Disqus.</a></noscript>

{% include footer.html %}
